
html, body{
    font-family: "Montserrat", sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

#root, #App, .full {
    background-image: url("https://cdn.svgporn.com/logos/cloudinary.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 65%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.login-page {
    display: flex;
    justify-content: center;
    align-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background: white;
}

.login-form div h2 {
    padding-bottom: .7em;
}

.login-form input {
    padding-bottom: 2em;
    margin: 0;
    text-align: center;
}

.login-form textarea, .login-form input[type=text], .login-form input[type=password] { 
    outline: none;
    border: none;
}

.login-form input[type=button] {
    outline: none;
    border: none;
    background-color: #1464f6;
    color: white;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.link-to-log-in {
    position: fixed;
    bottom: 2em;
    left: 2em;
}

.link-to-sign-up {
    position: fixed;
    bottom: 2em;
    right: 2em;
}

.oauth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

.oauth-logos {
    display: flex;
    justify-content: center;
}

.oauth-logos img {
    width: 8%;
    height: 8%;
    margin: 1.5em;
}

.slider-box {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 49, 172, 0.85);
    color: white;
}

.slider-box h2 {
    padding: .2em;
}

.slider-box ul {
    padding: 0;
}

.slider-box ul li {
    list-style-type: none;
    padding: 1em;
    font-size: 1.5em;
}

/************** Slider Transition *****************/

  